$base-color: #e10600;
$background-color: #e0e0e0;
$font-color: #15151E;
$font-size: 16px;
<<<<<<< HEAD

=======
$jet: #353535ff;
$ming: #3c6e71ff;
$white: #ffffffff;
$gainsboro: #d9d9d9ff;
$indigo-dye: #284b63ff;
>>>>>>> ae9e0a9b0e1259dc28bc9c06aa13c124903646a8
