@import "variables";


@mixin list-reset {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 {
    color: $font-color;
    background-color: $base-color;
}
.header-bar {
    width: 100%;
    height: 50px;
    background-color: teal;
    padding: 0;
    margin: 0;
}
.side-bar {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100%;
}
nav ul li {
    @include list-reset;
    .list-reset {
        @include list-reset;
    }
}
