.table {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #7ea8f8;
    border-style: solid;
    color: #000000;
}
.table td {
    border-width: 2px;
    border-color: #7ea8f8;
    border-style: solid;
    padding: 5px;
  }
  